.ms-bg-green{
    background-color: rgb(17, 134, 117) ;
    min-height: 15vh;
}

.ms-bg-grey{
    background-color: rgb(212, 211, 200);
    min-height: 85vh;
}

.ms-container{
    margin: 0 auto;
    width:80%;
    height: 90vh;
    background-color: aliceblue;
}

.ms-container-notification{
    background-color: rgb(126, 209, 251);
    height: 10vh;
}
.ms-container-user{
    background-color: rgb(229, 229, 229);
    height: 10vh;
}

.ms-bell{
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
    background-color: white;
}


.ms-chat-section{
    height: 80vh;
    background-image:url('https://prodigits.co.uk/thumbs/wallpapers/p2ls/abstract/49/9b8d564d12408006.jpg');
}

  
  .w-40{
    width: 40%;
  }

  .w-60{
    width: 60%;
  }